In [ ]:
from geopy.geocoders import Nominatim
import pandas as pd
import geopandas as gpd
import time

In [ ]:
df = pd.read_csv('C:/Users/mobas/OneDrive/Desktop/EVAT.charging_stations.csv')

In [ ]:
df

In [5]:
df = df[['cost', 'charging_points', 'pay_at_location', 'is_operational', 'latitude','longitude','operator', 'connection_type']]

In [6]:
df

,cost,charging_points,pay_at_location,is_operational,latitude,longitude,operator,connection_type
0,Unknown,1,Unknown,Unknown,-31.936252,115.871531,Unknown,Unknown
1,Unknown,1,Unknown,Unknown,-32.935880,151.643848,ChargePoint,Type 1 (J1772)
2,Unknown,2,Unknown,Unknown,-41.218297,146.412523,Unknown,Type 2 (Socket Only)
3,Unknown,8,Unknown,Unknown,-34.755480,149.720994,Tesla Supercharger,Unknown
4,Unknown,4,Unknown,Unknown,-37.887228,145.082491,"Tesla, Inc.",Unknown
...,...,...,...,...,...,...,...,...
1626,Unknown,1,Unknown,Unknown,-33.693647,151.018619,Blink Charging,Type 1 (J1772)
1627,Unknown,1,false,true,-31.937153,115.840552,Chargestar (AU),Type 1 (J1772)
1628,Unknown,1,Unknown,Unknown,-35.240510,149.087110,ChargePoint,NEMA 5-20R
1629,Unknown,1,Unknown,Unknown,-33.883580,151.191530,ChargePoint,NEMA 5-20R
1630,Unknown,3,Unknown,true,-38.026662,145.209603,ChargePoint,Type 1 (J1772)

In [7]:
geolocator = Nominatim(user_agent="skywalker1254")

In [8]:
def reverse_geocode(lat, lon):
    for attempt in range(3):  # Retry up to 3 times
        try:
            location = geolocator.reverse((lat, lon), exactly_one=True)
            return location.address if location else "Address not found"
        except GeopyError as e:
            print(f"Attempt {attempt + 1}: {e}")
            time.sleep(2)  
    return "Error: Unable to fetch address"

In [9]:
subset_df = df[['cost', 'charging_points', 'pay_at_location', 'is_operational', 'latitude','longitude','operator', 'connection_type']].copy()
#subset_df['Address'] = geoloc.reverse(subset_df['latitude'], subset_df['longitude'])
#subset_df

In [ ]:
subset_df['Address'] = subset_df.apply(lambda row: reverse_geocode(row['latitude'], row['longitude']), axis=1)
#gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))

In [ ]:
#gdf

In [ ]:
subset_df

In [ ]:
#pip install googlemaps

In [ ]:
subset_df.to_csv("C:/Users/mobas/OneDrive/Desktop/new.csv", index= false)